 /* Google Font */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');


:root {
  --primary: #1aac83;
  --error: red;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
.pages {
  padding: 20px 100px;
  margin: 0 auto;
}

.home {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 660px) {
  .home {
      width: 90%;
      margin: 0 auto;
  }
  .pages {
    padding: 20px 0;
  }

  .login, .signup {
    width: 85%;
  }
}


